*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header {
    background-color: #6F1A07;
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
}

nav {
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
}

body {
    background-color: #ECF0F1;
}


.logo {
    margin-left: 100px;
    margin-top: 10px;
    height: 90px;
}


nav ul {
    color: black;
    list-style: none;
    display: flex;
    margin-right: 120px;
    font-size: 22px;
    font-family: 'Bona Nova', serif;
    float: right;
    margin-top: 45px;
}
li {
    margin: 0 25px;
    color: rgb(139, 139, 139);
}

#hero{
    margin: 100px;
    margin-bottom: 280px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}

#hero h1{
    justify-content: left;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    font-size: 80px;
    color: rgb(109, 109, 109);
}


#hero button{
    display: inline-flex;
    color: rgb(109, 109, 109);
    background:white;
    cursor: pointer;
    border: 2px solid;
    border-radius: 30px;
    padding: 6px 15px 6px 15px;
    margin: 0 5px;
    text-decoration: none;
    margin-top: 30px;
    font-size: 30px;
}


.texto{
    color: rgb(139, 139, 139);
    justify-content: left;
    align-items: left;
    font-size: 30px;
}

.botonsito{
    font-size: 20px;
}

#hero button:hover{
    color: white;
    background-color: rgb(109, 109, 109);
    transition: .4s;
}

a{
    text-decoration: none;
}

li:hover{
    color: rgb(77, 77, 77);
    transition: .4s;
}

#hero .fotito{
    border-color: #6F1A07;
    border-width: 3px;
    border-style: solid;
}

.ventajas___container{
    width: auto;
    height: auto;
    background-color: #F7F3E3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ventajas___container .ventaja{
    width: 420px;
    height: 350px;
    background-color: #ECF0F1;
    margin: 60px;
}

.text___container{
    text-align: center;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.text___container h1{
    font-size: 50px;
}

.ventajas___container{
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
}

.ventaja{
    text-align: center;
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
}

.ventaja img{
    height: 115px;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer #main{
    background-color: white;
    background-color: #F7F3E3;
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
}

footer .text___container2{
    margin-left: 60px;
}


.copy{
    background-color: #F7F3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
}

.copy img{
    height: 100px;
    width: 100px;
}

