*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

nav {
    display: flex;
    height: 60px;
    position: fixed;
    background-color: #6F1A07;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

body {
    background-color: #ECF0F1;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 20px;
}
li {
    margin: 0 28px;
    color: #F7F3E3;
}

#hero{
    margin: 100px;
    margin-bottom: 280px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}

#hero h1{
    justify-content: left;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    font-size: 100px;
    color: #6F1A07;
}


#hero button{
    display: inline-flex;
    color: rgb(109, 109, 109);
    background:#F7F3E3;
    cursor: pointer;
    border: 2px solid;
    border-radius: 30px;
    padding: 6px 15px 6px 15px;
    margin: 0 5px;
    text-decoration: none;
    margin-top: 30px;
    font-size: 40px;
}


.texto{
    color: rgb(95, 93, 93);
    justify-content: left;
    align-items: left;
    font-size: 50px;
}


#hero button:hover{
    color: white;
    background-color: #6F1A07;
    transition: .4s;
}

a{
    text-decoration: none;
}

li:hover{
    color: rgba(0, 0, 0, 0.973);
    transition: .4s;
}

#hero .fotito{
    border-color: #6F1A07;
    border-width: 1px;
    border-style: solid;
}

.ventajas___container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ventajas___container .ventaja{
    width: 420px;
    height: auto;
    background-color: #ECF0F1;
    margin: 50px;
}

.text___container{
    text-align: center;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 10px;
}

.text___container h1{
    font-size: 50px;
}


.ventaja{
    text-align: center;
}

.ventaja img{
    height: 115px;
}

.footer{
    padding-top: 80px;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer #contacto{
    background-color: #F7F3E3;
}

.perfil{
    width: 180px;
    height: 200px;
    margin-left: 80px;
}


footer .text___container2{
    margin-left: 60px;
}


.copy{
    background-color: #F7F3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy img{
    height: 100px;
    width: 100px;
}

.iconoss{
    width: 25px;
    height: 25px;
    margin: 10px;
}

p{
    color: #6F1A07;
}

.icono{
    color: white;
    margin-left: 50px;
    font-size: 20px;
}

h1{
    color: #6F1A07;
}

h2{
    color: #6F1A07;
}

#contacto ul li{
    color: #6F1A07;
}

